@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  font-family: "EB Garamond", serif;
}

h1 {
  font-size: 350%;
  font-weight: 700;
  color: white;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.time {
  color: white;
  font-size: 250%;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  margin-top: 2vh;
  display: flex;
  justify-content: space-evenly;
}

.input {
  color: white;
  background-color: transparent;
  border: 3px solid white;
  padding: 10px;
  border-radius: 10%;
  cursor: pointer;
  margin-top: 5vh;
  font-size: 150%;
  transition: all ease-in-out 0.3s;
}

.input:hover {
  padding: 8px 20px;
  font-size: 160%;
}

@media only screen and (max-width: 1000px) {
  .time {
    width: 100%;
  }
  h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}
